<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="wormy_arm_robot">

<arg name="prefix" default="wormy_arm_" doc="The prefix of wormy_arm"/>

<!-- wormy_arm -->
<link name="base_link"/>

<xacro:include filename="$(find wormy_arm_description)/urdf/wormy_arm_macro.xacro"/>
<xacro:wormy_arm prefix="$(arg prefix)"/>

<link name="box_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="1 1 0.5" />
      </geometry>
      <material name="black">
        <color rgba="0.1 0.1 0.1 2.0"/>
      </material>
    </visual>
</link>

<joint name="base2box_joint" type="fixed">
    <parent link="base_link" />
    <child link="box_link" />
    <origin rpy="0.0 0 0" xyz="0 0 0.25" />
</joint>

<joint name="box2arm_joint" type="fixed">
    <parent link="box_link" />
    <child link="$(arg prefix)base_link" />
    <origin rpy="0.0 0 0" xyz="0 0 0.25" />
</joint>

</robot>